<div class="text-center">
    <form method="post" action="{{ path('app_evenement_delete', {'id': evenement.id}) }}" onsubmit="return confirm('Vous voulez supprimer cet evenement?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.id) }}">
        <fieldset class="border-button rounded-circle p-3 mt-3">
            <button type="submit" class="btn btn-danger btn-lg">Delete</button>
        </fieldset>
    </form>
</div>